<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bias Analyzer</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="{{ url_for('static', filename='js/mobileMenu.js') }}"
      defer
    ></script>
    <script
      src="{{ url_for('static', filename='js/stats.js') }}"
      defer
    ></script>
  </head>

  <body>
    <header class="bg-white shadow-sm fixed w-full top-0 z-50">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
          <div class="flex items-center relative">
            <div
              class="flex-shrink-0 flex items-center justify-center flex-col relative"
            >
              <a href="/" class="text-xl font-bold">Bias Analyzer</a>
            </div>
            <div
              class="absolute bottom-0 left-0 flex items-center justify-center text-[8px] gap-2 pb-1"
            >
              <p class="text-gray-700">
                <strong>Visits:</strong>
                <span id="site-visits">%</span>
              </p>
              <p class="text-gray-700">
                <strong>Processed:</strong>
                <span id="processed-requests">%</span>
              </p>
            </div>
          </div>
          <div class="hidden md:flex items-center space-x-4">
            <a href="/" class="text-gray-700 hover:text-gray-900">Home</a>
            <a href="/text-analysis" class="text-gray-700 hover:text-gray-900"
              >Text Analysis</a
            >
            <a href="/image-analysis" class="text-gray-700 hover:text-gray-900"
              >Image Analysis</a
            >
          </div>
          <div class="flex items-center md:hidden">
            <button
              id="mobile-menu-button"
              type="button"
              class="p-2 text-gray-700 hover:text-gray-900 focus:outline-none"
            >
              <svg
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"
                ></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div id="mobile-menu" class="hidden md:hidden bg-white shadow-lg">
        <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
          <a
            href="/"
            class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50"
            >Home</a
          >
          <a
            href="/text-analysis"
            class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50"
            >Text Analysis</a
          >
          <a
            href="/image-analysis"
            class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50"
            >Image Analysis</a
          >
        </div>
      </div>
    </header>

    <main class="pt-20 pb-8">{% block content %}{% endblock %}</main>
  </body>
</html>
